.memo-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2.5vh;
}

.memo-container{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 5vh;
}

.status-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    height: 5vh;
}

.memo-status-buttons{
    display: flex;
    flex-direction: row;
    gap: 1px;
    height: 5vh;
}

.memo-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 10px;
}

.memo-table{
    table-layout: fixed;
    text-transform: capitalize;
    background-color: #575353;
}

.memo-table th,
.memo-table td {
  text-align: left; 
  color: white;
}

.memo-table th {
  font-weight: bold;
  color: black;
}

.memo-table-row:hover {
  cursor: pointer;
}

.memo-table-row-selected :not(.memo-table-row:hover) {
  background-color: #0fa3adcb;
}

.memo-table-header {
    font-weight: bold;
    font-size: 160px;
    background-color: #8d6bdb;
}

.edit-view-container{
    margin: 10vh 20vw 5vh 20vw;
}

.edit-table{
    table-layout: fixed;
    text-transform: capitalize;
    text-align: center;
    background-color: #575353;
}

.edit-table th{
    font-weight: bold;
    background-color: #443469;
    color: white;
}

.active-button{
    background-color: #0fa3adcb;
    color: white;
    text-transform: capitalize;
}

.inactive-button{
    background-color: #443469;
    color: white;
    cursor: pointer;
}


.create-table th {
    font-weight: bold;
    background-color: #8d6bdb;
    color: white;
}